@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*  {
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}
section {
  position: relative; 
  width: 100%;
  height: 100vh;
  display: flex;

}
section .contentBx {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 50%;
  height: 100%;

}
section .contentBx .formBx{
width: 50%;
}
section .contentBx .formBx h2{
  color: black;
  font-weight: 500;
  font-style: normal;
  top: 188px;
  font-size: 40px;
  line-height: 82px;
  margin-bottom: 20px;
  border-bottom: 4px solid white;
  display: inline-block 1px;
  letter-spacing: 0.1px
}
section .contentBx .formBx p{
  width: 350px;
  height: 40px;
  left: 165px;
  top: 286px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #545563;
}
section .contentBx .formBx .inputBx{
  margin-bottom: 20px;
}
section .contentBx .formBx .inputBx label{
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  color: #101216;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0px;
 
}
section .contentBx .formBx .inputBx input{
  width: 100%;
  padding: 12px 16px;
  outline: none;
  font-weight: 400;
  border: 1px solid #C7C8D2;;
  font-size: 16px;
  letter-spacing: 1px;
  color:#2B2B43;
  border-radius: 8px;
  background: transparent;
}
section .contentBx .formBx .inputBx input[type="submit"]{
  background: #4E60FF;
  color:white; 
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;           
}
section .contentBx .formBx .inputBx input[type="submit"]:hover{
  background: rgba(78, 96, 255, 0.16);
}
section .contentBx .formBx .keepMeLogged{
  margin-bottom: 10px;
  color: #2B2B43;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
 
}

section .contentBx .formBx .inputBx p{
  color: #2B2B43;
  margin-top: 200px;
}
section .contentBx .formBx .inputBx p a{
  color: #4E60FF;
 
}
section .contentBx .formBx .inputBx .keepMeLogged .inputBx .imgBx {
  position: relative;
  width: 50%;
  height: 100%;            
}
section .contentBx .formBx .inputBx .keepMeLogged .inputBx .imgBx::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, #e91e63,#03a9f4);
  z-index: 1;
  mix-blend-mode:screen;
 
 }

section .contentBx .formBx .inputBx .keepMeLogged .inputBx  .imgBx img {
  position: absolute;
  top: 0;
  right: 0; 
  width: 100%;
  height: 100%;
  object-fit: cover;          
}